[Unit]
Description=Nightly Bird Feeder backup

[Timer]
OnCalendar=*-*-* 04:30:00
RandomizedDelaySec=15m
Persistent=true
Unit=bird-feeder-backup.service

[Install]
WantedBy=timers.target
